<footer class="hagstofa">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img
                        src="//hagstofas3bucket.hagstofa.is/haxdev/static/img/Statistics_Iceland_-_Logo_-_RGB_-_White.png"
                        alt="Statistics Iceland"
                    />
                    <ul>
                      <li id="footer-phone-number">
                        <span class="footer-icon-span"><i class="picon-simanumer"></i></span>
                        <a href="tel:+354 528 1000">
                          <b>+354 528 1000</b>
                        </a>
                      </li>
                      <li>
                        <span class="footer-icon-span"><i class="picon-heimilisfang"></i></span>Borgartún 21A, 105 Reykjavík
                      </li>
                      <li>
                        <span class="footer-icon-span"><i class="picon-opnunartimi"></i></span>Mon-Thu 9:00-16:00 / Fri 9:00-12:00
                      </li>
                      <li>
                        <span class="footer-icon-span">
                          <i class="picon-netfang"></i>
                        </span><a href="mailto:information@statice.is">information@statice.is</a>
                      </li>
                    </ul>

                    <div id="footer-social-media">
                      <a href="https://facebook.com/hagstofan">
                        <i class="picon-facebook"></i>
                      </a>
                      <a href="https://twitter.com/hagstofan">
                        <i class="picon-twitter"></i>
                      </a>
                      <a href="https://www.linkedin.com/company/hagstofa-islands">
                        <i class="picon-linkedin"></i>
                      </a>
                      <a href="https://www.youtube.com/@hagstofaislands2013">
                        <i class="picon-youtube"></i>
                      </a>
                    </div>

                    <a class="link-button" href="https://hagstofa.is/utgafur/frettasafn/frettaaskrift/">
                        <i class="picon-frettaaskrift"></i>News subscription
                    </a>
                </div>
                <div class="col-md-8">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
    <div id="certs" class="hide-small-screen">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <img
                        src="//hagstofas3bucket.hagstofa.is/hagstofan/static/img/statice_all_certs.png"
                        alt="Statistics Iceland certification"
                    />
                </div>
            </div>
        </div>
    </div>
</footer>
