<div class="body-container">
<footer class="hagstofa">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img
                        src="//haxdev.s3.amazonaws.com/static/img/hagstofa_white_logo_2023.png"
                        alt="Hagstofa Íslands"
                    />
                    <ul>
                      <li id="footer-phone-number">
                        <span class="footer-icon-span"><i class="picon-simanumer"></i></span>
                        <a href="tel:+354 528 1000">
                          <b>528 1000</b>
                        </a>
                      </li>
                      <li>
                        <span class="footer-icon-span"><i class="picon-heimilisfang"></i></span>Borgartún 21A, 105 Reykjavík
                      </li>
                      <li>
                        <span class="footer-icon-span"><i class="picon-opnunartimi"></i></span>Mán-fim kl. 9.00-16.00 / Fös kl. 9.00-12.00
                      </li>
                      <li>
                        <span class="footer-icon-span">
                          <i class="picon-netfang"></i>
                        </span><a href="mailto:upplysingar@hagstofa.is">upplysingar@hagstofa.is</a>
                      </li>
                    </ul>

                    <div id="footer-social-media">
                      <a href="https://facebook.com/hagstofan">
                        <i class="picon-facebook"></i>
                      </a>
                      <a href="https://twitter.com/hagstofan">
                        <i class="picon-twitter"></i>
                      </a>
                      <a href="https://www.linkedin.com/company/hagstofa-islands">
                        <i class="picon-linkedin"></i>
                      </a>
                      <a href="https://www.youtube.com/@hagstofaislands2013">
                        <i class="picon-youtube"></i>
                      </a>
                    </div>

                    <a class="link-button" href="https://hagstofa.is/utgafur/frettasafn/frettaaskrift/">
                        <i class="picon-frettaaskrift"></i>Fréttaáskrift
                    </a>
                </div>

                <div class="col-md-2 footer-webtree hide-small-screen">
                    <h1>Talnaefni</h1>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading-talnaefniibuar">
                                <p class="panel-title">
                                    <a
                                        role="button"
                                        data-toggle="collapse"
                                        data-parent="#accordion"
                                        href="#collapse-talnaefniibuar"
                                        aria-expanded="false"
                                        aria-controls="collapse-talnaefniibuar"
                                    >
                                        Íbúar
                                    </a>
                                </p>
                            </div>
                        <div 
                          id="collapse-talnaefniibuar" 
                          class="panel-collapse collapse" 
                          role="tabpanel" 
                          aria-labelledby="heading-talnaefniibuar"
                        >
                          <div class="panel-body">
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/ibuar/mannfjoldaspa/">Mannfjöldaspá</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/ibuar/kosningar/">Kosningar</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/ibuar/fjolskyldan/">Fjölskyldan</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/ibuar/mannfjoldi/">Mannfjöldi</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/ibuar/faeddir-og-danir/">Fæddir og dánir</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/ibuar/buferlaflutningar/">Búferlaflutningar</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/ibuar/manntal/">Manntal</a></p>
                            
                          </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading-talnaefnisamfelag">
                            <p class="panel-title">
                                <a
                                    role="button"
                                    data-toggle="collapse"
                                    data-parent="#accordion"
                                    href="#collapse-talnaefnisamfelag"
                                    aria-expanded="false"
                                    aria-controls="collapse-talnaefnisamfelag"
                                >
                                    Samfélag
                                </a>
                            </p>
                        </div>
                        <div
                          id="collapse-talnaefnisamfelag"
                          class="panel-collapse collapse"
                          role="tabpanel"
                          aria-labelledby="heading-talnaefnisamfelag"
                        >
                          <div class="panel-body">

                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/samfelag/lifskjor/">Lífskjör</a></p>

                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/samfelag/menntun/">Menntun</a></p>

                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/samfelag/menning/">Menning</a></p>

                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/samfelag/vinnumarkadur/">Vinnumarkaður</a></p>

                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/samfelag/domsmal/">Dómsmál</a></p>

                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/samfelag/midlun/">Miðlun</a></p>

                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/samfelag/laun-og-tekjur/">Laun og tekjur</a></p>

                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/samfelag/heilbrigdismal/">Heilbrigðismál</a></p>

                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/samfelag/felagsmal/">Félagsmál</a></p>

                          </div>
                        </div>
                    </div>

                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading-talnaefniatvinnuvegir">
                          <p class="panel-title">
                            <a 
                              role="button" 
                              data-toggle="collapse" 
                              data-parent="#accordion" 
                              href="#collapse-talnaefniatvinnuvegir" 
                              aria-expanded="false" 
                              aria-controls="collapse-talnaefniatvinnuvegir"
                            >
                              Atvinnuvegir
                            </a>
                          </p>
                        </div>
                        <div 
                          id="collapse-talnaefniatvinnuvegir" 
                          class="panel-collapse collapse" 
                          role="tabpanel" 
                          aria-labelledby="heading-talnaefniatvinnuvegir"
                        >
                          <div class="panel-body">
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/atvinnuvegir/fyrirtaeki/">Fyrirtæki</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/atvinnuvegir/sjavarutvegur/">Sjávarútvegur</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/atvinnuvegir/landbunadur/">Landbúnaður</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/atvinnuvegir/visindi-og-taekni/">Vísindi og tækni</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/atvinnuvegir/ferdathjonusta/">Ferðaþjónusta</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/atvinnuvegir/idnadur/">Iðnaður</a></p>
                            
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading-talnaefniefnahagur">
                          <p class="panel-title">
                            <a 
                              role="button" 
                              data-toggle="collapse" 
                              data-parent="#accordion" 
                              href="#collapse-talnaefniefnahagur" 
                              aria-expanded="false" 
                              aria-controls="collapse-talnaefniefnahagur"
                            >
                              Efnahagur
                            </a>
                          </p>
                        </div>
                        <div 
                          id="collapse-talnaefniefnahagur" 
                          class="panel-collapse collapse" 
                          role="tabpanel" 
                          aria-labelledby="heading-talnaefniefnahagur"
                        >
                          <div class="panel-body">
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/efnahagur/fjarmal-hins-opinbera/">Fjármál hins opinbera</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/efnahagur/vinnumagn-og-framleidni/">Vinnumagn og framleiðni</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/efnahagur/verdlag/">Verðlag</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/efnahagur/thjodhagsreikningar/">Þjóðhagsreikningar</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/efnahagur/utanrikisverslun/">Utanríkisverslun</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/efnahagur/thjodhagsspa/">Þjóðhagsspá</a></p>
                            
                          </div>
                        </div>
                      </div>
                    
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading-talnaefniumhverfi">
                          <p class="panel-title">
                            <a 
                              role="button" 
                              data-toggle="collapse" 
                              data-parent="#accordion" 
                              href="#collapse-talnaefniumhverfi" 
                              aria-expanded="false" 
                              aria-controls="collapse-talnaefniumhverfi"
                            >
                              Umhverfi
                            </a>
                          </p>
                        </div>
                        <div 
                          id="collapse-talnaefniumhverfi" 
                          class="panel-collapse collapse" 
                          role="tabpanel" 
                          aria-labelledby="heading-talnaefniumhverfi"
                        >
                          <div class="panel-body">
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/umhverfi/natturufar/">Náttúrufar</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/umhverfi/efnisflaedi/">Efnisflæði</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/umhverfi/orkumal/">Orkumál</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/umhverfi/samgongur/">Samgöngur</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/umhverfi/losun-lofttegunda/">Losun lofttegunda</a></p>
                            
                            <p class="accordion-child"><a href="https://hagstofa.is/talnaefni/umhverfi/graena-hagkerfid/">Græna hagkerfið</a></p>
                            
                          </div>
                        </div>
                      </div>
                </div>
            </div>

            <div class="col-md-2 footer-webtree hide-small-screen">
                <h1>Þjónusta</h1>

                <p><a href="https://hagstofa.is/thjonusta/hafa-samband/">Hafa samband</a></p>
            
                <p><a href="https://hagstofa.is/thjonusta/vefskil/">Vefskil</a></p>

                <p><a href="https://hagstofa.is/thjonusta/beidni-um-servinnslu/">Beiðni um sérvinnslu</a></p>

                <p><a href="https://hagstofa.is/thjonusta/gogn-til-visindarannsokna/">Gögn til vísindarannsókna</a></p>

                <p><a href="https://hagstofa.is/thjonusta/gjaldskra/">Gjaldskrá</a></p>

                <p><a href="https://hagstofa.is/thjonusta/um-jonustuna/">Um þjónustuna</a></p>
            </div>
            
            <div class="col-md-2 footer-webtree hide-small-screen">
                <h1>Útgáfur</h1>

                <p><a href="https://hagstofa.is/utgafur/tilraunatolfraedi/">Tilraunatölfræði</a></p>

                <p><a href="https://hagstofa.is/utgafur/covid19/">Covid-19</a></p>

                <p><a href="https://hagstofa.is/utgafur/frettasafn/">Fréttasafn</a></p>

                <p><a href="https://hagstofa.is/utgafur/talnaefni/">Talnaefni</a></p>

                <p><a href="https://hagstofa.is/utgafur/sogulegar-hagtolur/">Sögulegar hagtölur</a></p>

                <p><a href="https://hagstofa.is/utgafur/arsskyrslur/">Ársskýrslur</a></p>

                <p><a href="https://hagstofa.is/utgafur/greinar-og-erindi/">Greinar og erindi</a></p>

                <p><a href="https://hagstofa.is/utgafur/utgafur-kjararannsoknarnefndar/">Útgáfur kjararannsóknarnefndar</a></p>

                <p><a href="https://hagstofa.is/utgafur/Tolfraedikennsla/">Tölfræðikennsla</a></p>

                <p><a href="https://hagstofa.is/utgafur/hagskinna/">Hagskinna</a></p>

                <p><a href="https://hagstofa.is/utgafur/iceland-in-figures/">Iceland in figures</a></p>

                <p><a href="https://hagstofa.is/utgafur/landshagir/">Landshagir</a></p>

                <p><a href="https://hagstofa.is/utgafur/lifsgaedavogin/">Lífsgæðavogin</a></p>

                <p><a href="https://hagstofa.is/utgafur/tilraunir-me-grof/">Tilraunir með gröf</a></p>

                <p><a href="https://hagstofa.is/utgafur/leidbeiningar/">Leiðbeiningar</a></p>

                <p><a href="https://hagstofa.is/utgafur/adferdir-og-flokkun/">Aðferðir og flokkun</a></p>

                <p><a href="https://hagstofa.is/utgafur/utgafur/">utgafur</a></p>

                <p><a href="https://hagstofa.is/utgafur/eldri-utgafur/">Eldri útgáfur</a></p>
            </div>

            <div class="col-md-2 footer-webtree hide-small-screen">
                <h1>Um Hagstofuna</h1>

                <p><a href="https://hagstofa.is/um-hagstofuna/starfsmenn/">Starfsmenn</a></p>

                <p><a href="https://hagstofa.is/um-hagstofuna/laus-storf/">Laus störf</a></p>

                <p><a href="https://hagstofa.is/um-hagstofuna/log-og-reglur/">Lög og reglur</a></p>

                <p><a href="https://hagstofa.is/um-hagstofuna/personuvernd/">Persónuvernd</a></p>

                <p><a href="https://hagstofa.is/um-hagstofuna/stefnur-hagstofu-islands/">Stefnur Hagstofu Íslands</a></p>

                <p><a href="https://hagstofa.is/um-hagstofuna/starfsaetlun/">Starfsáætlun</a></p>

                <p><a href="https://hagstofa.is/um-hagstofuna/samstarf-vid-notendur/">Samstarf við notendur</a></p>

                <p><a href="https://hagstofa.is/um-hagstofuna/thatttaka-i-rannsoknum/">Þátttaka í rannsóknum</a></p>

                <p><a href="https://hagstofa.is/um-hagstofuna/althjodlegt-samstarf/">Alþjóðlegt samstarf</a></p>

                <p><a href="https://hagstofa.is/um-hagstofuna/fyrirvari/">Fyrirvari</a></p>

                <p><a href="https://hagstofa.is/um-hagstofuna/hagstofan/">Hagstofan</a></p>
            </div>
        </div>
    </div>
</div>
<div id="certs" class="hide-small-screen">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img
                    src="http://haxdev.s3.amazonaws.com/static/img/statice_all_certs.png"
                    alt="Hagstofa Íslands vottanir"
                />
            </div>
        </div>
    </div>
</div>
</footer>
</div>
