<header class="hagstofa">
    <div class="container">
        <div class="row">
            <div class="brand col-md-4">
                <a href="https://hagstofa.is/">
                    <img src="{{ site.baseurl }}/assets/img/header_brand_is.svg" alt="Hagstofa Íslands" />
                </a>
            </div>
            <div class="header-text col-md-4">
                Heimsmarkmiðin
            </div>
            <div class="header-language col-md-4">
                <div class="upper-desktop-navbar">
                    <a id="link-button-language" class="link-button" href="{{ site.baseurl }}/en/">
                        <i class="picon-tungumal"></i>
                        English
                    </a>
                    <a id="link-button-visar" class="link-button" href="https://visar.hagstofa.is/">
                        Aðrir vísar
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>