<header class="hagstofa">
    <div class="container">
        <div class="row">
            <div class="brand col-6 col-lg-3">
                <a href="https://hagstofa.is/">
                    <img src="{{ site.baseurl }}/assets/img/header_brand_en.svg" alt="Hagstofa Íslands" />
                </a>
            </div>
            <div id="main-text" class="header-text col-7">
                Sustainable Development Goals
            </div>
            <div class="header-language col-6 col-lg-2">
                <div class="upper-desktop-navbar">
                    <a id="link-button-language" class="link-button" href="{{ site.baseurl }}/">
                        <i class="picon-tungumal"></i>
                        Íslenska
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>