<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="//cdn.datatables.net/fixedcolumns/3.2.3/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js" integrity="sha256-Y26AMvaIfrZ1EQU49pf6H4QzVTrOI8m9wQYKkftBt4s=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/patternomaly@1.3.2/dist/patternomaly.js"></script>
{% if page.indicator and (page.indicator.graph_annotations or page.indicator.graph_target_lines or page.indicator.graph_series_breaks) %}
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.2.2/dist/chartjs-plugin-annotation.min.js" integrity="sha256-XuHhf6q+GD7fscc96mTm/228GXf1Nn9wOYOE0EgeFzY=" crossorigin="anonymous"></script>
{% endif %}
{% if page.indicator and page.indicator.data_show_map %}
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet.zoomshowhide@0.1.0/dist/leaflet-zoom-show-hide.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.4.0/chroma.min.js"></script>
<script src="https://cdn.rawgit.com/nezasa/iso8601-js-period/master/iso8601.min.js"></script>
<script src="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.min.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<script src="https://cdn.jsdelivr.net/gh/torfsen/leaflet.zoomhome@master/dist/leaflet.zoomhome.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-search@2.9.7/dist/leaflet-search.min.js"></script>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.4.1/autotrack.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.3/dist/html2canvas.js"></script>
<script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js"></script>

{% if site.cookie_consent_form.enabled %}
<script>
  {% include cookies-config.js %}
  {% include cookies-translations.js %}
</script>
<script src="https://cdn.kiprotect.com/klaro/v0.7/klaro-no-css.js"></script>
{% include multilingual-js.html key="cookies.cookie_settings" %}
{% endif %}

{% if site.analytics.ua and site.analytics.ua != '' %}
  {% include components/analytics/ga-universal.html %}
{% endif %}
{% if site.analytics.ga_prod and site.analytics.ga_prod != '' %}
  {% include components/analytics/ga-universal.html %}
{% endif %}
{% if site.analytics.gtm and site.analytics.gtm != '' %}
  {% include components/analytics/ga-gtm-noscript.html %}
{% endif %}

{% include multilingual-js.html key="general.hide" %}
{% include multilingual-js.html key="search.search" %}
<script src='{{ site.baseurl }}/assets/js/sdg.js?v={{ cache_bust }}'></script>
{% include scripts-custom.html %}
{%- if site.custom_js -%}
  {%- for custom_js_file in site.custom_js -%}
    {% assign script_src = custom_js_file %}
    {% assign src_start = script_src | slice: 0, 4 %}
    {% if src_start != 'http' %}
      {%- assign script_src = site.baseurl | append: script_src | append: "?v=" | append: cache_bust %}
    {% endif %}
    <script src="{{ script_src }}"></script>
  {%- endfor -%}
{%- endif -%}
<script>
    new indicatorInit();
    new accessibilitySwitcher();
</script>
<script>
$(document).ready(function() {
    makeStatsCatsNavCloseable();

    semiOpenStatsNav();

    var dropdownItems = document.querySelectorAll('#header-main-webtree li.dropdown');
    dropdownItems.forEach(function(item) {
        item.addEventListener('click', function() {
            closeStatsNav();
        });
    });

    offcanvasResize();

    $('html').on('click', '.menu-toggle, .canvas-open .body-slide', function(e) {
        e.preventDefault();
        $('body').toggleClass('canvas-open');
    });

    $('.offcanvas .offcanvas-subopen').on('click', function(e) {
        e.preventDefault();
        $(this).parent().parent().addClass('open');
        $(this).parents('ul').addClass('back');
    });

    $('.offcanvas .offcanvas-subback').on('click', function(e) {
        e.preventDefault();
        $(this).closest('.open').removeClass('open');
        $(this).closest('.back').removeClass('back');
    });

    $('.offcanvas').show().css('display', 'flex');

    $(window).on('resize', function() {
        offcanvasResize();
    });
});

function offcanvasResize() {
    var height = 0;
    var windowHeight = $(window).height();
    var headerHeight = 79;
    var bottomButtonsHeight = 112;

    $('.offcanvas').css('height', windowHeight - headerHeight - bottomButtonsHeight);
}

function semiOpenStatsNav() {
    document.getElementById('open-statistics-nav').classList.add('selected');
    document.getElementById('statistics-category-nav').style.display = 'block';
}

function toggleOpenStatsNav() {
    var navButton = document.getElementById('open-statistics-nav');
    if (navButton.classList.contains('open')) {
        closeStatsNav();
    } else {
        openStatsNav();
    }
}

function closeStatsNav() {
    var navList = document.getElementById('statistics-category-nav');
    var navButton = document.getElementById('open-statistics-nav');
    navButton.classList.remove('open');
    navList.style.boxShadow = null;
}

function openStatsNav() {
    var navList = document.getElementById('statistics-category-nav');
    var navButton = document.getElementById('open-statistics-nav');
    navButton.classList.add('open');
    navList.style.boxShadow = '0 12px 4px -7px #00000029';
    navList.style.display = 'block';
}

function makeStatsCatsNavCloseable() {
    var tabLinks = document.querySelectorAll('#statistics-category-nav ul.custom-nav-tabs a');
    var lis = document.querySelectorAll('#statistics-category-nav ul.custom-nav-tabs li');
    var tabPanes = document.querySelectorAll('.custom-tab-pane');

    closeAllTabsAndHighlightCurrentCategory();

    tabLinks.forEach(function(tabLink) {
        tabLink.addEventListener('click', function(event) {
            event.preventDefault();

            var target = document.querySelector(tabLink.getAttribute('href'));
            removeClassFromSiblings(target, 'show');
            target.classList.toggle('show');

            var parentLi = tabLink.parentNode;
            removeClassFromSiblings(parentLi, "active");

            if (!target.classList.contains('show')) {
                closeAllTabsAndHighlightCurrentCategory();
            } else {
                lis.forEach(function(li) {
                    li.classList.add('greyed-out');
                });

                parentLi.classList.remove('greyed-out');
                parentLi.classList.add('active');
            }
        });
    });

    function removeClassFromSiblings(element, className) {
        var parent = element.parentNode;
        var siblings = parent.children;
        for (let i = 0; i < siblings.length; i++) {
            if (siblings[i] !== element) {
                siblings[i].classList.remove(className);
            }
        }
    }

    function closeAllTabsAndHighlightCurrentCategory() {
        tabPanes.forEach(function(tabPane) {
            tabPane.classList.remove('show');
        });

        lis.forEach(function(li) {
            li.classList.remove('active', 'greyed-out');
        });
    }

    document.addEventListener('click', function(event) {
        var target = event.target;
        if (!target.closest('#statistics-category-nav')) {
            closeAllTabsAndHighlightCurrentCategory();
        }
    });

    document.addEventListener('keydown', function(event) {
        if (event.key == 'Escape') {
            closeAllTabsAndHighlightCurrentCategory();
        }
    });
}

</script>
<script src='//hagstofas3bucket.hagstofa.is/haxdev/static/js/bootstrap.min.js'
        type="text/javascript"></script>
