@font-face {
  font-family: 'icomoon';
  src: url('https://hagstofas3bucket.hagstofa.is/haxdev/static/fonts/icomoon.eot?aqhxaf');
  src: url('https://hagstofas3bucket.hagstofa.is/haxdev/static/fonts/icomoon.eot?aqhxaf#iefix') format('embedded-opentype'), url('https://hagstofas3bucket.hagstofa.is/haxdev/static/fonts/icomoon.ttf?aqhxaf') format('truetype'), url('https://hagstofas3bucket.hagstofa.is/haxdev/static/fonts/icomoon.woff?aqhxaf') format('woff'), url('https://hagstofas3bucket.hagstofa.is/haxdev/static/fonts/icomoon.svg?aqhxaf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="picon"] {
  font-size: 24px;
}

[class^="picon-"],
[class*=" picon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.picon-tungumal::before {
  content: "\e913";
}

.picon-simanumer::before {
  content: "\e912";
}

.picon-heimilisfang::before {
  content: "\e911";
}

.picon-opnunartimi::before {
  content: "\e910";
}

.picon-netfang::before {
  content: "\e90f";
}

.picon-facebook::before {
  content: "\e920";
}

.picon-twitter::before {
  content: "\e91e";
}

.picon-linkedin::before {
  content: "\e922";
}

.picon-youtube::before {
  content: "\e923";
}

.picon-frettaaskrift::before {
  content: "\e90e";
}

body {
  background: none !important;
  padding-top: 0 !important;
}

header.hagstofa {
  height: 76px;
  background-color: #F3F7F8;
  margin-bottom: 16px;

  a {
    text-decoration: none;
  }

  .brand {
    a {
      img {
        height: 59px;
        padding-top: 17px;
        padding-left: 2px;
      }
    }
  }

  .header-text {
    font-family: adelle-sans, sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    color: #0B404E;
    padding-top: 21px;
  }

  .upper-desktop-navbar {
    float: right;

    a {
      display: flex;
      align-items: center;
      font-family: adelle-sans, sans-serif;
      font-weight: 400;
    }

    #link-button-language {
      background-color: #D9EFF4;
      color: #133942;
      margin-left: 0;
      margin-right: 0;
      font-weight: 500;
    }

    #link-button-visar {
      margin-right: 21px;
      font-weight: 300;
      font-size: 17px;
    }

    .link-button {
      margin-top: 20px;
      border: none;
      float: right;
      padding-top: 6px;
      border-radius: 4px;
      font-size: 16px;
      color: #0B3F4D;
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 4px;

      i {
        margin-top: 1px;
        font-size: 24px;
        margin-right: 12px;
        padding-bottom: 2px;
      }
    }
  }
}

footer.hagstofa {
  width: 100%;
  font-family: adelle-sans, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  line-height: 1.42857143;
  word-wrap: break-word;
  font-size: 17px;

  a {
    text-decoration: none;

    &:hover,
      &:focus {
          text-decoration: underline;
      }
      &:focus {
          outline: thin dotted #333;
          outline: 5px auto -webkit-focus-ring-color;
          outline-offset: -2px;
      }

      &:active,
      &:hover {
          outline: 0;
      }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: adelle-sans, sans-serif;
    font-weight: 500;
    line-height: 1.1;
  }

  h1, h2, h3 {
    margin-top: 22px;
    margin-bottom: 11px;
  }

  h4, h5, h6 {
    margin-top: 11px;
    margin-bottom: 11px;
  }

  h4 {
    font-size: 20px;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
  }

  .row {
      display: block !important;

      &:before,
      &:after {
          content: " ";
          display: table;
      }
      &:after {
          clear: both;
      }
  }

  .picon-frettaaskrift {
    position: relative;
    top: 4px;
  }

  .footer-bottom {
    padding: 36px 0 80px 0;
    background-color: #285971;

    p, a, li, #footer-social-media i {
      color: #C1DBE1;
    }

    img {
      height: 80px;
    }

    #footer-social-media {
      margin: 56px 0;
      padding-bottom: 4px;

      a:hover {
        text-decoration: none;
      }

      i {
        font-size: 32px;
        margin-right: 4px;
      }
    }

    .link-button {
      border: 1px solid #00C8FF;
      font-size: 20px;
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      padding: 6px 24px 7px 24px;
      border-radius: 4px;

      &:hover {
        text-decoration: none;
      }

      i {
        color: #00C8FF;
        margin-right: 20px;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 17px;

      .footer-icon-span {
        display: flex;
        align-items: center;
      }

      i {
        color: #00C8FF;
        font-size: 24px;
        margin-right: 24px;
      }

      #footer-phone-number {
        margin-top: 60px;
        margin-bottom: 60px;

        a {
          font-size: 28px;
        }
      }

      li {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
      }
    }
  }

  #certs {
    display: flex;
    justify-content: center;
    background-color: #f3f7f8;
    padding: 50px 0;

    img {
      max-width: 100%;
    }
  }
}

#main-text {
  display: none;
}

#mobile-main-text {
  font-family: adelle-sans, sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  color: #0B404E;
  padding-bottom: 4px;
  width: 100%;
}

#mobile-main-text::after {
  display: table;
  content: " ";
  clear: both;
}

@media (min-width: 1500px) {
  footer.hagstofa {
    .container {
      width: auto !important;
    }
  }
}

@media (min-width: 992px) {
  #main-text {
    display: block;
  }

  #mobile-main-text {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .header-search-bar {
      width: 100% !important;
  }
}